In [3]:
import pandas as pd
from itertools import chain

# Data-Prep For Data File

In [4]:
data = pd.read_csv(r'World Debt Analysis/Dataset/IDS_ALLCountries_Data.csv',encoding='ANSI')

In [5]:
data.shape

(77797, 67)

In [6]:
data.sample(n=5)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
52549,Nicaragua,NIC,World,WLD,"PS, bilateral (NFL, current US$)",DT.NFL.BLAT.PS.CD,1.712687e+07,9.409917e+06,2.324221e+06,1.501956e+07,...,-3.134334e+06,-1.941237e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56015,Paraguay,PRY,World,WLD,"PS, multilateral concessional (INT, current US$)",DT.INT.MLTC.PS.CD,1.470000e+06,1.682000e+06,2.424000e+06,2.678000e+06,...,6.729021e+06,8.540957e+06,13692000.0,12062000.0,10212000.0,8356000.0,6316000.0,4259000.0,2218000.0,1325000.0
22211,Eritrea,ERI,World,WLD,"PRVG, official creditors (INT, current US$)",DT.INT.OFFT.PRVG.CD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63478,South Asia,SAS,World,WLD,Short-term debt (% of total external debt),DT.DOD.DSTC.ZS,3.453383e+00,3.548460e+00,3.561796e+00,3.465739e+00,...,1.662253e+01,1.808778e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15038,Comoros,COM,World,WLD,"GG, multilateral (DOD, current US$)",DT.DOD.MLAT.GG.CD,NaN,NaN,NaN,NaN,...,9.200642e+07,1.119175e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
revised_data = data[["Country Name","Country Code", "Series Code", "Series Name", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023","2024"]].copy()

In [8]:
revised_data.sample(n=5)

,Country Name,Country Code,Series Code,Series Name,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
25722,"Gambia, The",GMB,DT.NTR.PRVT.PS.CD,"PS, private creditors (NTR, current US$)",7.620000e+05,-918000.00,-1.866000e+06,5952000.00,-1835000.00,-3592000.00,-2481000.00,-2.397000e+06,-1.774000e+06,-7.570000e+05,NaN,NaN
45445,Mauritania,MRT,DT.NTR.DECT.CD,"Net transfers on external debt, total (NTR, cu...",1.746684e+08,65587820.80,5.016701e+08,79534540.50,-43886019.90,-57181596.60,67752176.30,1.166894e+08,-2.371546e+08,-1.626162e+08,NaN,NaN
55375,Papua New Guinea,PNG,DT.NTR.MLAT.PRVG.CD,"PRVG, multilateral (NTR, current US$)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66295,Sudan,SDN,DT.DIS.PCBK.PS.CD,"PS, commercial banks (DIS, current US$)",0.000000e+00,0.00,0.000000e+00,0.00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
70557,Tonga,TON,DT.DIS.IDAG.CD,IDA grants (current US$),1.545349e+07,11479545.58,1.298855e+07,9158429.93,5393999.01,13180841.38,11203684.09,4.998070e+07,2.534502e+07,3.884652e+07,NaN,NaN

### revised_data.columns

In [9]:
revised_data.rename(columns = {"Country Name":"country_name", "Country Code":"country_code", "Series Code":"indicator_code", "Series Name":"indicator_name"}, inplace = True)

In [10]:
revised_data.columns

Index(['country_name', 'country_code', 'indicator_code', 'indicator_name',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024'],
      dtype='object')

In [11]:
revised_data.shape

(77797, 16)

In [12]:
revised_data.sample(n=5)

,country_name,country_code,indicator_code,indicator_name,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
55788,Paraguay,PRY,DT.NFL.OFFT.OPS.CD,"OPS, official creditors (NFL, current US$)",-1.372255e+07,6.202432e+06,1.775629e+07,2.441404e+07,2.250672e+07,8.223798e+06,-1.053966e+07,-1.537662e+07,3.645998e+07,1.280849e+07,NaN,NaN
34753,Jamaica,JAM,DT.INT.BLAT.PRVG.CD,"PRVG, bilateral (INT, current US$)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16395,"Congo, Rep.",COG,DT.DOD.MLAT.CD,"PPG, multilateral (DOD, current US$)",1.674233e+08,1.555509e+08,1.597567e+08,2.107472e+08,6.439395e+08,6.400682e+08,8.691439e+08,9.854439e+08,1.021423e+09,1.107707e+09,NaN,NaN
24266,Fiji,FJI,DT.NFL.DOPS.CD,"Net flows on external debt, other public secto...",NaN,1.390000e+06,-4.197000e+06,-3.003000e+06,9.500000e+05,-1.083000e+06,NaN,NaN,NaN,NaN,NaN,NaN
9142,Brazil,BRA,DT.TDS.DECT.EX.ZS,"Total debt service (% of exports of goods, ser...",2.806712e+01,2.294844e+01,3.977928e+01,5.105498e+01,3.476795e+01,3.330929e+01,5.346902e+01,5.035006e+01,4.671853e+01,2.991755e+01,NaN,NaN

In [13]:
revised_data.loc[77790:,:]

,country_name,country_code,indicator_code,indicator_name,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
77790,Zimbabwe,ZWE,DT.DOD.DIMF.US.CD,"Use of IMF credit (DOD, current US$)",100186185.9,92393194.1,86585989.4,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,NaN,NaN
77791,Zimbabwe,ZWE,DT.DOD.DIMF.CD,"Use of IMF credit and SDR allocationsÂ (DOD, cu...",519341619.6,486727497.2,463752752.4,455165191.5,482184792.8,470895600.2,468198468.7,487647537.5,1.422011e+09,1.352160e+09,NaN,NaN
77792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77795,Data from database: International Debt Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77796,Last Updated: 02/29/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
revised_data.drop([77792,77793,77794,77795,77796], inplace= True)
#Deleting unnecessary rows from the end

In [15]:
revised_data

,country_name,country_code,indicator_code,indicator_name,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,DT.GPA.DPPG,Average grace period on new external debt comm...,0.0,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
1,Afghanistan,AFG,DT.GPA.OFFT,Average grace period on new external debt comm...,0.0,2.983330e+01,0.0,0.000000e+00,1.983560e+01,0.000000e+00,1.790410e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
2,Afghanistan,AFG,DT.GPA.PRVT,Average grace period on new external debt comm...,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
3,Afghanistan,AFG,DT.GRE.DPPG,Average grant element on new external debt com...,0.0,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
4,Afghanistan,AFG,DT.GRE.OFFT,Average grant element on new external debt com...,0.0,8.192890e+01,0.0,0.000000e+00,6.426460e+01,0.000000e+00,7.307900e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77787,Zimbabwe,ZWE,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors ...",898717987.2,1.017484e+09,839327062.9,1.624987e+09,1.510382e+09,1.368063e+09,1.371991e+09,1.321012e+09,1.147855e+09,8.389780e+08,NaN,NaN
77788,Zimbabwe,ZWE,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (...",8432930.3,2.075039e+07,11367395.3,9.216350e+06,6.573758e+06,6.395567e+06,6.384398e+06,6.806978e+06,6.528428e+06,6.363256e+06,NaN,NaN
77789,Zimbabwe,ZWE,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current...",907150917.5,1.038234e+09,850694458.2,1.634204e+09,1.516956e+09,1.374459e+09,1.378375e+09,1.327819e+09,1.154383e+09,8.453412e+08,NaN,NaN
77790,Zimbabwe,ZWE,DT.DOD.DIMF.US.CD,"Use of IMF credit (DOD, current US$)",100186185.9,9.239319e+07,86585989.4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
77791,Zimbabwe,ZWE,DT.DOD.DIMF.CD,"Use of IMF credit and SDR allocationsÂ (DOD, cu...",519341619.6,4.867275e+08,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,1.422011e+09,1.352160e+09,NaN,NaN

In [16]:
country_metadata = pd.read_csv(r"World Debt Analysis/Dataset/IDS_CountryMetaData.csv",encoding="ANSI")
#Reading the metadata file

In [17]:
country_metadata.sample(n=5)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
117,SYR,Syrian Arab Republic,Low income,Middle East & North Africa,IDA,NaN,Syrian pound,2004,"Multiple Indicator Cluster Survey, 2006",The World Bank systematically assesses the app...,...,"Expenditure survey/budget survey (ES/BS), 2007",NaN,NaN,2005.0,2010.0,2005.0,SY,SY,Syrian Arab Republic,Syrian Arab Republic
87,MAR,Kingdom of Morocco,Lower middle income,Middle East & North Africa,IBRD,NaN,Moroccan dirham,2014,Morocco National Survey on Population and Fami...,NaN,...,"Expenditure survey/budget survey (ES/BS), 2013",NaN,NaN,2013.0,2018.0,2010.0,MA,MA,Morocco,Morocco
82,MNA,Middle East & North Africa (excluding high inc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XQ,XQ,Middle East & North Africa (excluding high inc...,Middle East & North Africa (excluding high inc...
26,COM,Union of the Comoros,Lower middle income,Sub-Saharan Africa,IDA,HIPC,Comorian franc,2017,"Demographic and Health Survey, 2012",NaN,...,"Integrated household survey (IHS), 2013",NaN,NaN,NaN,2013.0,1999.0,KM,KM,Comoros,Comoros
90,NPL,Nepal,Lower middle income,South Asia,IDA,NaN,Nepalese rupee,2011,"Multiple Indicator Cluster Survey, 2019",The reporting period for national accounts dat...,...,Living Standards Measurement Study Survey (LSM...,NaN,2011-2012,2011.0,2017.0,2006.0,NP,NP,Nepal,Nepal

In [18]:
income_groups = country_metadata["Income Group"].unique().tolist()
#collecting unique income groups

In [19]:
regions = country_metadata["Region"].unique().tolist()
#collecting unique regions

In [20]:
lst =[]

In [21]:
for item in income_groups:
    lst.append(revised_data.index[revised_data.country_name == item].tolist())
#Appending income groups to a new list

In [22]:
len(lst)

5

In [23]:
for item in regions:
    lst.append(revised_data.index[revised_data.country_name == item].tolist())
#Appending regions to the same list with income groups already in it.

In [24]:
len(lst)

12

In [23]:
new_lst = list(chain.from_iterable(lst))
#Unpacking the previous list because it was nested list and creating a 1D list.

In [24]:
len(new_lst)

2288

In [25]:
revised_data.drop(new_lst, inplace = True)
#Dropping not valid country names from the data

#Below are some field in the country name which were dropped manually by hard coding.

In [26]:
revised_data.drop(revised_data.index[revised_data.country_name == "IDA only"].tolist(), inplace = True)

In [ ]:
revised_data.drop(revised_data.index[revised_data.country_name == "IDA total"].tolist(), inplace = True)

In [27]:
revised_data.drop(revised_data.index[revised_data.country_name == "Europe & Central Asia (excluding high income)"].tolist(), inplace = True)

In [28]:
revised_data.drop(revised_data.index[revised_data.country_name == "Middle East & North Africa (excluding high income)"].tolist(), inplace = True)

In [29]:
revised_data.drop(revised_data.index[revised_data.country_name == "Sub-Saharan Africa (excluding high income)"].tolist(), inplace = True)

In [30]:
revised_data.drop(revised_data.index[revised_data.country_name == "Latin America & Caribbean (excluding high income)"].tolist(), inplace = True)

In [31]:
revised_data.drop(revised_data.index[revised_data.country_name == "Middle income"].tolist(), inplace = True)

In [32]:
revised_data.drop(revised_data.index[revised_data.country_name == "Low & middle income"].tolist(), inplace = True)

In [33]:
revised_data.drop(revised_data.index[revised_data.country_name == "East Asia & Pacific (excluding high income)"].tolist(), inplace = True)

In [34]:
revised_data.drop(revised_data.index[revised_data.country_name == "Least developed countries: UN classification"].tolist(), inplace = True)

# Creating CSV File

In [36]:
revised_data.to_csv("IDS_revised_data_2024.csv", encoding = "utf-8", index = False)